{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>QR Based Voting App</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto">
          <a href="index.html">QR Based Voting app</a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>QR Based Voting App</h1>
            <h2></h2>
            <div class="d-flex">
              <a
                href="#"
                class="btn-get-started scrollto"
                style="margin-right: 15px"
                >Vote Now</a
              >
              <a href="{% url 'register' %}" class="btn-get-started scrollto"
                >Register</a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="{% static 'img/hero-img.png' %}"
              style="margin-top: 5px"
              class="img-fluid animated"
              alt="logo"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Featured Services Section ======= -->
      <!--
      <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="icofont-computer"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi sint occaecati cupiditate non provident
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <div class="icon"><i class="icofont-image"></i></div>
                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                <p class="description">
                  Minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat tarad limino ata
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="icofont-tasks-alt"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    -->
      <!-- End Featured Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <span>Steps to follow</span>
            <h2>Steps to follow</h2>
            <p>
              Here are few steps following which you will successfully will be
              able to vote digitally.
            </p>
          </div>

          <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
              <p>
                If you have Not registered, please register yourself First! For
                that you are supposed to submit some documents.
              </p>
              <img
                src="{% static 'img/testimonials/testimonials-1.png' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Step 1</h3>
            </div>

            <div class="testimonial-item">
              <p>
                After successful registration you will receive your Voter ID
                through Email and then click "Vote now".
              </p>
              <img
                src="{% static 'img/testimonials/testimonials-2.png' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Step 2</h3>
            </div>

            <div class="testimonial-item">
              <p>
                You will be receiving Voter ID over email submit the QR code
                from the Voter ID for scanning!
              </p>
              <img
                src="{% static 'img/testimonials/testimonials-3.png' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Step 3</h3>
            </div>

            <div class="testimonial-item">
              <p>
                After successful Authentication You will be taken to voting page
                and will be able to put your vote!
              </p>
              <img
                src="{% static 'img/testimonials/testimonials-4.png' %}"
                class="testimonial-img"
                alt=""
              />
              <h3>Step 4</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Team Section ======= -->
      <!-- <section id="team" class="team section-bg">
        <div class="container">
          <div class="section-title">
            <span>Team</span>
            <h2>Team</h2>
            <p>Meet our team</p>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-1.jpg" alt="" />
                <h4>Mrunal Padalkar</h4>
                <span>Front-End Developer</span>
                <p>Roll Number:18CE1011 <br />Batch: B1-14</p>
              </div>
            </div>

            <div class="col-lg-3 col-md d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-2.jpg" alt="" />
                <h4>Medha Mathur</h4>
                <span>Back-End Developer</span>
                <p>Roll Number:18CE2008 <br />Batch: B1-4</p>
              </div>
            </div>

            <div class="col-lg-3 col-md d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="" />
                <h4>Sahil Mhatre</h4>
                <span>Back-End Developer</span>
                <p>Roll Number:18CE <br />Batch: B1-7</p>
              </div>
            </div>
            <div class="col-lg-3 col-md d-flex align-items-stretch">
              <div class="member">
                <img src="assets/img/team/team-3.jpg" alt="" />
                <h4>Satyam Mhadlekar</h4>
                <span>Back-End Developer</span>
                <p>Roll Number:18CE <br />Batch: B1-3</p>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <h3>QR Based Voting App</h3>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>QR Based Voting App</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>